{{define "yield"}}

<h1>FAQ</h1>

{{if .}}
<h3>Hi {{.Name}}!</h3>
{{end}}

<ul>
  <li>What is lenslocked.com?</li>
  <li>Where can I contact someone for help?</li>
  <li>I forgot my password. How do I reset it?</li>
</ul>

{{end}}
